{% load staticfiles %}
<html>
    <head>
        <title>Speech to Text Service</title>
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/canves.css' %}">
    </head>
    <body>
        <div>
            <h1>Speech to Text Service</h1>
            <p>Please Choose the service you want to use:</p>
        </div>
        <div>
            <!-- <p><a href="postlist">Go to Post List</a></p> -->
            <div id="action1"><a href="r.translate">Real Time Translate</a></div>
            <div id="action2"><a href="a.translate">Audio Translate</a></div>
            
        </div>
    </body>
</html>